@model NotConfirmUser
<h6>Не закрывайте эту страницу, в данный момент маршрутизация не настроена</h6>
<div>
    <p>Сообщение с вашим кодом подтверждения был отправлен на почту</p>
</div>
<form asp-controller="NotConfirmUser" asp-action="Confirm" method="post">
    <input name="code" type="text" id="code" />
    <input class="btn btn-primary" type="submit" value="Подтвердить" asp-route="@Model"/>
</form>