@model User

<h2>Login</h2>

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form asp-action="Login" asp-controller="User" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="Login" for="Login" class="col-md-4 col-form-label text-md-right">Login</label>
                        <div class="col-md-6">
                            <input asp-for="Login" type="text" id="Login" class="form-control" name="Login" required autofocus>
                            <span asp-validation-for="Login" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Password" for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                        <div class="col-md-6">
                            <input asp-for="Password" type="password" id="password" class="form-control" name="password" required>
                            <span asp-validation-for="Password" />
                        </div>
                    </div>
                    <div class="col-md-6 offset-md-4">
                        <button type="submit" class="btn btn-primary">Go in!</button>
                        <a asp-action="Registration" asp-controller="NotConfirmUser" class="btn btn-link">Registration</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>